.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    row-gap: 80px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: 100%;
    }
}