.header__logo {
    width: 176px;
    height: 52px;
    transition: opacity 0.5s, visibility 0.4s, transform 0.4s;
}

.header__logo:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}
