.places__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;

}

@media screen and (max-width: 520px) {
    .places__header {
        flex-direction: column;
        margin: 0;
    }
}

@media screen and (max-width: 460px) {
    .places__header {
    margin: 0;
    }
}