.content {

    display: flex;
    flex-direction: column;
}

@media (min-width: 1280px) {
    .content {

    }
}

@media (max-width: 1280px) {
    .content {

    }
}

@media (max-width: 1024px) {
    .content {

    }
}

@media (max-width: 768px) {
    .content {
        max-width: 768px;
    }
}

@media (max-width: 425px) {
    .content {
        max-width: 425px;
    }
}